<div class="beer-card">
    <img src='{{this.image_url}}' />
    <div class="beer-description">
        <h2>{{this.name}}</h2>
        <p> {{this.description}}</p>
        <p> {{this.tagline}}</p>
    </div>
</div>